@use 'variables' as *;
@use 'mixins';

.basket {
	@include mixins.flex(column);

	gap: 2rem;

	&__list {
		@include mixins.flex(column);

		gap: 2rem;
	}

	&__item {
	}

	&__actions {
		@include mixins.flex(row);

		gap: 2rem;
		align-items: center;
		justify-content: flex-end;
		padding-top: 2rem;
		border-top: 1px solid #232427;
	}

	&__total {
		font-size: 1.5rem;
		font-weight: 500;

		&::after {
			content: ' ₽';
		}
	}
}
