@use 'variables' as *;
@use 'mixins';

.card {
	@include mixins.flex(column);

	position: relative;
	box-sizing: border-box;
	justify-content: space-between;
	height: 27.25rem;
	padding: $defaultPadding 15rem $defaultPadding $defaultPadding;
	overflow: hidden;
	background-color: #fff;
	border-radius: $borderRadius;

	&__content {
		@include mixins.flex(column);

		z-index: 1;
		gap: 0.5rem;
	}

	&__foot {
		@include mixins.flex(row);

		z-index: 1;
		gap: 1.5rem;
		align-items: center;
	}

	&__image {
		position: absolute;
		right: -141px;
		width: 411px;
		height: 411px;
	}

	&__title {
		margin: 0;
		font-size: 2rem;
		font-weight: 500;
	}

	&__description {
		margin: 0;
	}

	&__status {
		color: $statusDefault;

		&_active {
			color: $statusOpened;
		}

		&_closed {
			color: $statusClosed;
		}

		&::before {
			content: '• ';
		}
	}
}
