@use 'variables' as *;
@use 'mixins';

.catalog {
	@include mixins.container($defaultPadding, $extendedPadding, $extendedPadding);
	@include mixins.flex(column);

	gap: 2rem;
	align-items: center;
	background-color: $secondary;
	border-radius: $borderRadius;

	&__title {
		margin: 0;
		font-size: 2.5rem;
	}

	&__items {
		@include mixins.flex(column);

		gap: 2rem;
	}

	&__item {
		border: unset;
		border-radius: 0.8rem;

		@include mixins.selectable($secondary, 2px, $hover);

		&::after {
			border-radius: 0.8rem;
		}
	}
}
