@use 'sass:color';
@use 'variables' as *;
@use 'mixins';

.form {
	@include mixins.flex(column);

	gap: 1.5rem;
	padding: calc(#{$defaultPadding} / 2);
	border-radius: 3rem;

	&__label {
		flex-grow: 1;
		width: 100%;
	}

	&__input {
		box-sizing: border-box;
		width: 100%;
		padding: 1rem;
		font-size: 1.4rem;
		border: 1px solid $secondaryBackground;
		border-radius: 1.5rem;
		outline-color: $secondary;

		&:focus {
			outline-style: solid;
		}

		&:invalid {
			border-color: $error;
			outline-color: $error;
		}

		&::placeholder {
			color: color.adjust($primaryLight, $lightness: 23%);
		}
	}

	&__label_grouped {
		border: 1px solid $secondaryBackground;
		border-radius: 1.5rem;

		.form__input {
			border: 0;

			&:focus {
				outline-style: none;
			}
		}

		&:has(.form__input:focus) {
			outline: 1px solid $secondary;
		}

		&:has(.form__input:invalid) {
			border-color: $error;
			outline-color: $error;
		}
	}

	&__footer {
		@include mixins.flex(row);

		gap: 1rem;
		align-items: center;
	}

	&__errors {
		color: $error;
	}
}
