@use 'variables' as *;
@use 'mixins';

.hero {
	@include mixins.container;
	@include mixins.flex(column);

	position: relative;
	box-sizing: border-box;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	height: 25rem;
	padding: 3rem;
	background-color: #fff;
	border-radius: $borderRadius;

	&__background {
		@include mixins.sublayer;

		object-fit: cover;
	}

	&__title {
		z-index: 1;
		margin: 0;
		font-size: 3.5rem;
	}

	&__description {
		z-index: 1;
		margin: 0;
		font-size: 1.5rem;
	}
}
