@use 'variables' as *;
@use 'mixins';

.lot {
	@include mixins.flex(column);

	position: relative;
	box-sizing: border-box;
	gap: 3rem;
	justify-content: space-between;
	padding: $defaultPadding;
	overflow: hidden;
	background-color: #fff;
	border-radius: $borderRadius;

	&__status {
		@include mixins.flex(column);

		gap: 3rem;
	}

	&__content {
		@include mixins.flex(column);

		z-index: 1;
		gap: 0.5rem;
	}

	&__foot {
		@include mixins.flex(row);

		z-index: 1;
		gap: 1.5rem;
		align-items: center;
	}

	&__image {
		width: 411px;
		height: 411px;
		margin: 0 auto;
	}

	&__title {
		margin: 0;
		font-size: 2rem;
		font-weight: 500;
	}

	&__description {
		margin: 0.75rem 0;
	}

	&__auction {
		@include mixins.flex(column);

		align-items: center;

		&-timer {
			font-size: 2.5rem;
			font-weight: 700;
		}

		&-text {
			font-size: 1.5rem;
			font-weight: 500;
		}
	}

	&__bid {
		flex-flow: row wrap;
		padding: 0 $defaultPadding;

		&-amount {
			@include mixins.flex(row);

			> * {
				text-align: right;
			}

			&::after {
				padding: 1rem;
				font-size: 1.4rem;
				content: ' ₽';
			}
		}

		.form {
			&__errors {
				flex: 0 0 100%;
			}
		}
	}

	&__history {
		@include mixins.flex(column);

		cursor: default;
		border-top: 1px solid #232427;

		&-caption {
			margin: 1rem 0;
			opacity: 0.5;
		}

		&-bids {
			@include mixins.flex(row);

			gap: 3rem;
			padding: 0;
			margin: 0;
		}

		&-item {
			padding-left: 1.5rem;
			font-size: 1.5rem;
			font-weight: 500;

			&:first-child {
				padding-left: 0;
				list-style: none;
			}

			&::after {
				content: ' ₽';
			}
		}
	}
}
