@use 'variables' as *;
@use 'mixins';

.state {
	@include mixins.flex(column);

	align-items: center;

	&__image {
		max-width: 32rem;
	}

	&__title {
		margin-bottom: 0.5rem;
		font-size: 2.5rem;
		font-weight: 700;
	}

	&__subtitle {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 500;
	}

	&__action {
		margin-top: 2rem;
	}
}
