$primary: #fad883;
$secondary: #fad883;
$background: #eef0f4;
$primaryLight: #3f4b67;
$hover: #ddc17a;
$error: #f18b7e;
$secondaryBackground: #2f3951;
$secondaryHover: #727d95;
$statusDefault: #dcb11b;
$statusOpened: #7cc37f;
$statusClosed: #d35d5d;
$font: 'YS Text', roboto, helvetica, arial, sans-serif;
$titleFont: 'Garamond', sans-serif;
$fontMono: source-code-pro, menlo, monaco, consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: #2f3951;
$mainFontSize: 1.4em;
$titleFontSize: 6em;
$headerElementsSize: 3.5rem;
$headerHeight: 5.5rem;
$maxPageWidth: 1110px;
$defaultPadding: 3rem;
$extendedPadding: 4.75rem;
$defaultBorder: 1px solid #808080;
$overlayBackground: rgb(0 0 0 / 80%);
$borderRadius: 4rem;
